/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap
 *= require_tree .
 *= require_self
  *= font-family: 'Bangers', cursive;
 */
.red {
  background-color: rgba(200,200,200,0.95);
}

.splash {
  position: absolute;
  background-image: url("http://assets-s3.rollingstone.com/assets/images/gallery_item/0129856/20140305-jamiejones-30-x1800-1394544903.jpg");
  width:100%;
  height: auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:-2;
}
.welcome-center {
  margin-top:25%;
  opacity: 0.75;
}
.small {
  width:100%;
  height:auto;
}

.navbar-brand {
font-family:'Bangers', cursive;
font-size: 3em;
}

.navbar-nav {
font-family: 'Roboto', sans-serif;
font-size: 1.2em;
}